<div class="patient-details-container">
    <div class="title-container">
        <h1>Patient details</h1>
    </div>

    <div class="details-containers">
        <div class="row">
            <h2>
                {{patients.firstName}} {{patients.lastName}}
            </h2>
        </div>
        <div class="row">
            address
        </div>
        <div class="row">
            Social security number: {{patients.socialSecurityNo}}
        </div>
        <div class="row">
            <app-chat-historic></app-chat-historic>
            <app-sms-historic></app-sms-historic>
        </div>
        <div class="row">
            <button _ngcontent-fxv-c10 mat-raised-button="" color="primary" routerLink="/chat" routerLinkActive="active">Chat</button>
            <button _ngcontent-fxv-c10 mat-raised-button="" color="secondary" routerLink="/chat" routerLinkActive="active">Back</button>
        </div>
        <div class="row">
            <app-sms-editor></app-sms-editor>
        </div>
    </div>
</div>
